/target
args.toml
coverage.png
frames_dir
*.mp4
*.png
*.sqlite3
*.db
*.txt
*.log
*.csv
*.rs.bk
*.rs.bk.*
*.rs.bk~
.DS_Store
.idea
*.sqlite*
*.ttf
*.otf
*.html
scripts/*.rs
docs/scc.md
model.json
result.json
